section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Artex
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/artex_b_1.png", alt="Artex")
					.slider-prod__nav-item
						img(src="img/artex_b_2.png", alt="Artex")
					.slider-prod__nav-item
						img(src="img/artex_b_3.png", alt="Artex")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/artex_b_1.png", alt="Artex")
					.slider-prod__for-item
						img(src="img/artex_b_2.png", alt="Artex")
					.slider-prod__for-item
						img(src="img/artex_b_3.png", alt="Artex")
			.product-item__info
				h2.product-item__name Artex
				p.product-item__desc 100% органика
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text 219 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Суставы
					li.product-list__item
						span Форм-фактор: 
						| крем-мазь
					li.product-list__item
						span Объем: 
						| 50 г
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Натуральная крем-мазь на основе пантов алтайского марала для здоровья суставов.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Натуральная крем-мазь на основе аминогликанов пантов алтайского марала с добавлением вытяжек из лекарственных растений в активной неизмененной природной форме, которая обладает максимальным проникающим действием  в область суставной сумки и направленным действием на клетки хрящевой ткани, хондробласты, синовиальную жидкость и эпифизы костей суставов.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Гидрофильная вытяжка из пантов алтайского марала, млечный сок сабельника, клевера, ромашки, гинкго билоба, уснеи, рейши, лопуха, подорожника, корней одуванчика, леспедецы, ивы, лавра, крапивный яд волосков крапивы, экстракт чёрного тмина, экстракт артемии, масло зверобоя, масло амаранта, масло можжевеловое, масло ладанное, пантенол, каменное масло, мумиё, деготь, экстракт облепихи, экстракт кенийского перца, экстракт индийского лука,  вытяжка из коры берёзы, вытяжка паслёна, вытяжка гарпагофитума, экстракт золотарника, экстракт сенной трухи, витамин С, витамин РР, масло чайного дерева, куркумин, капсаицин.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Небольшое количество крема-мазь нанести на область сустава, распределить легкими массажными движениями на проблемной зоне и вокруг. Рекомендуется применять 2 раза в день.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера - мед
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ТУ 10.8919-001-16159820-2019
								li.product-list__item.mb
									span Срок годности: 
									| 2 года.
								li.product-list__item
									span Условия хранения: 
									| В защищенном от света месте при температуре 15–25 °С.
