section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для Женщин
			span.breadcrumbs__line /
			span.breadcrumbs__main Biorecin
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__nav-item
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__nav-item
						img(src="img/biorecin.png", alt="Biorecin")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__for-item
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__for-item
						img(src="img/biorecin.png", alt="Biorecin")
			.product-item__info
				h2.product-item__name Biorecin
				//p.product-item__desc with Ashwagandha
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-1.svg", alt="")
					p.product-item__rating-text 231 отзыв
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Омоложение
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Объем: 
						| 21 капсула
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Омолаживающие капсулы для питания и регенерации клеток кожи
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon капсулы для омоложения кожи содержат растительные компоненты и витамины которые помогают улучшить питание и регенерацию клеток кожи. Способствует восстановлению коллагеновых и эластиновых волокон, благоприятно влияет на упругость и тонус лица
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon коллаген, биотин, витамин Е, шиповник

					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Рекомендуется принимать 3 капсулы во время завтрака. Максимальное суточное потребление: 1 порция (не более 3 капсул в день)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Internacional Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								li.product-list__item
									span Дата регистрации: 
									| ????
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| хранить в прохладном (≤25 ° C) и сухом (≤60% RH) месте с закрытой крышкой
