section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=woman") Для женщин
			span.breadcrumbs__line /
			span.breadcrumbs__main Miaflow
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/miaflow_s_1.png", alt="miaflow")
					.slider-prod__nav-item
						img(src="img/miaflow_s_2.png", alt="miaflow")
					.slider-prod__nav-item
						img(src="img/miaflow_s_3.png", alt="miaflow")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/miaflow_b_1.png", alt="miaflow")
					.slider-prod__for-item
						img(src="img/miaflow_b_2.png", alt="miaflow")
					.slider-prod__for-item
						img(src="img/miaflow_b_3.png", alt="miaflow")
			.product-item__info
				h2.product-item__name Miaflow
				p.product-item__desc Bio-Age Cream
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star_after.svg", alt="")
						img.product-item__rating-star(src="img/svg/star_after.svg", alt="")
						img.product-item__rating-star(src="img/svg/star_after.svg", alt="")
						img.product-item__rating-star(src="img/svg/star_after.svg", alt="")
						img.product-item__rating-star(src="img/svg/star_after.svg", alt="")
					p.product-item__rating-text 213 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Омоложение
					li.product-list__item
						span Форм-фактор: 
						| Крем
					li.product-list__item
						span Объем: 
						| 50мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Омолаживающий крем для лица с биопептидами для всех типов кожи.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Омолаживающий крем для лица основан на натуральных компонентах, подходит для всех типов кожи. Борется с основными возрастными изменениями кожи. Способствует увлажнению верхних слоев эпидермиса и регенерации клеток, за счет чего кожа восстанавливает природный баланс липидов, коллагена  и эластина. Таким образом за короткое время кожа приобретает подтянутый,  сияющий вид, минимизируется видимость морщин исчезает отечность и пигментация. За счет содержания экстракта водорослей крем имеет защитные свойства от УФ излучения.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Вода, вазелиновое масло, глицерин, глицерил стеарат, стериновая кислота, эмульсионный воск, цетеариловый спирт, изопропил пальмитат, вазелин, циклопентасилоксан, пчелиный воск, диметикон, мочевина, пантенол, эластил, пальмитоил дипептид-10, пальмитоил трипептид -1, масло пачули, масло мирры, экстракт гардезии, пальмитоил трипептид-7, дисодиум ЭДТА, карбомер, феноксиэтанол, этилгексил глицерин, парфюм.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Небольшое количество крема нанести на чистую, сухую кожу  легкими движениями по  массажным линиям лица и шеи. Применять крем утром и вечером.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Akreo Pro
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С.