.nav
	.container
		.nav__wrap
			a.nav__logo(href="/")
				img(src="img/svg/logo.svg", alt="Vitaliss")
			.nav__right
				ul.nav__menu.menu
					li.menu__item
						a.menu__link(href="catalog.html") Каталог
					li.menu__item
						a.menu__link(href="#") О нас
					li.menu__item
						a.menu__link(href="contacts.html") Контакты
					li.menu__item
						a.menu__link(href="#") Отзывы
				.nav__btn-wrap
					a.nav__link-tel(href="tel:+74997031476") +7 (499) 703-14-76
					button.nav__btn.btn.js-show-popup(title="Заказать звонок" data-target="#popup") Заказать звонок
				.burger.js-burger(data-target="#js-mobile-menu")
					span.burger__line
					span.burger__line
					span.burger__line