.menu-mobile#js-mobile-menu
	.menu-mobile__wrap
		.menu-mobile__top
			a.logo.menu-mobile__logo(href="/")
				img(src="img/svg/logo_big.svg", alt="")
			.burger.js-burger(data-target="#js-mobile-menu")
				span.burger__line
				span.burger__line
				span.burger__line
		ul.menu-mobile__nav.menu
			li.menu__item
				a.menu__link(href="catalog.html") Каталог
			li.menu__item
				a.menu__link(href="#") О нас
			li.menu__item
				a.menu__link(href="contacts.html") Контакты
			li.menu__item
				a.menu__link(href="#") Отзывы
		.menu-mobile__bottom
			button.menu-mobile__btn.btn.js-show-popup(title="Заказать звонок" data-target="#popup") Заказать звонок