section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Agrosev Bio
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/agrosev-bio_b_1.png", alt="Agrosev Bio")
					.slider-prod__nav-item
						img(src="img/agrosev-bio_b_2.png", alt="Agrosev Bio")
					.slider-prod__nav-item
						img(src="img/agrosev-bio_b_3.png", alt="Agrosev Bio")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/agrosev-bio_b_1.png", alt="Agrosev Bio")
					.slider-prod__for-item
						img(src="img/agrosev-bio_b_2.png", alt="Agrosev Bio")
					.slider-prod__for-item
						img(src="img/agrosev-bio_b_3.png", alt="Agrosev Bio")
			.product-item__info
				h2.product-item__name Agrosev Bio
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-1.svg", alt="")
					p.product-item__rating-text 224 отзыва
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Сорняки
					li.product-list__item
						span Форм-фактор: 
						| концентрат для разведения
					li.product-list__item
						span Объем: 
						| 10 саше по 3 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Уникальное средство системного действия для борьбы с сорняками.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Органическое  средство для удобрения почвы. Концентрат имеет комбинированный состав из азот-продуцирующих бактерий и микроэлементов, который насыщает почву необходимыми веществами, для нормального развития растения. Препарат эффективен на всех этапах созревания. Подходит для выращивания разнообразных растительных культур как в открытом грунте так и в теплицах и даже комнатных.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Экстракт из Биогумуса
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Замачивание семян (водный раствор 1:10-1:20) при температуре 20-28C; корневая подкормка (водный раствор 1:30-1:50); внекорневая подкормка (водный раствор 1:100-1:200).
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| ИП Белоножко О.А.
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Сертификат соответствия: 
									br
									| РОСС RU.HB65.H01028/21
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить в сухом темном месте, недоступном для детей и животных, отдельно от продуктов, лекарств и кормов.
