section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Тензитал
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
					.slider-prod__nav-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
					.slider-prod__nav-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
					.slider-prod__for-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
					.slider-prod__for-item
						img(src="img/tenzital_b_1.png", alt="Tenzital")
			.product-item__info
				h2.product-item__name Тензитал
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Гипертония
					li.product-list__item
						span Форм-фактор: 
						| капли
					li.product-list__item
						span Форма выпуска:
						| 50 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Органические капли для здороья сердечно-сосудистой системы.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капли при гипертонии с растительніми компонентами. Способствует регуляции работы сердечно-сосудистой системы и снижению артериального давления. Благодаря жидкой форме быстро и действенно всасывается в системный кровоток и приводит к улучшению самочувствия. Также, влияет на липидный обмен и регулирует уровень холестерина и укрепляет стенки сосудов.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Раувольфии экстракт, L-Аргинин, Омега 3, гинкго билоба экстракт, экстракт клевера, экстракт боярышника, экстракт софоры японской, экстракт арники, экстракт омелы.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Принимать по 30 капель 3 раза в день, за 30 минут до еды. Курс - от 30 дней.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| ООО «Атриум»
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С
