section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main DUO C&P
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
					.slider-prod__nav-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
					.slider-prod__nav-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
					.slider-prod__for-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
					.slider-prod__for-item
						img(src="img/duo-c-p_b_1.png", alt="DUO C&P")
			.product-item__info
				h2.product-item__name DUO C&P
				p.product-item__desc (Curcumin/Piperine)
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 232 отзыва
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Диабет\Похудение
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Объем: 
						| 20 капсул
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Органические капсулы с куркумой для улучшения функций всего организма. Органические капсулы с куркумой контроля веса.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon DUO C&P может оказывать реальные воздействия куркумина только благодаря наличия в составе пиперина. Дело в том, что куркумин очень слабо усваивается организмом из-за быстрого метаболизма в печени и кишечной стенке. Пиперин - замедляет процессы метаболизма печени и кишечника и таким образом дает возможность и время усвоиться куркумину. Биоперин - повышает биодоступность куркумина, так как сам по себе он имеет очень низкую биодоступность. Позиционирование: усиленная биодоступность, противовоспалительная и антиоксидантная активность.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Экстракт куркумы (стандартизированный 95% куркумина), биоперин (микрокристаллическая целлюлоза Е 450, носитель, желатин, экстракт сухой куркумы корневищ, экстракт сухой перца черного плодов, стеарат кальция, (Е470, антислеживающий агент), аэросил, диоксид кремния, Е551, антислеживающий агент), диоксид титана (Е171, краситель).
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Взрослым по 1 капсуле 3 раза вдень во время еды.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| ООО ”Бьютирин”
								li.product-list__item
									span Дата регистрации: 
									| 07.11.2019
								li.product-list__item.mb
									span Сертификат Государственной Регистрации: 
									br
									| RU.77.99.11.003.E.004036.11.19
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить в сухом, защищенном от прямых солнечных лучей и недоступном для детей месте при температуре не выше 25 градусов С.