section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Ashwamin
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
					.slider-prod__nav-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
					.slider-prod__nav-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
					.slider-prod__for-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
					.slider-prod__for-item
						img(src="img/ashwamin_b_1.png", alt="Ashwamin")
			.product-item__info
				h2.product-item__name Ashwamin
				p.product-item__desc withania somnifera 500 mg
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Паразиты
					li.product-list__item
						span Форм-фактор: 
						| капсулы
					li.product-list__item
						span Объем: 
						| 20 капсул
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Натуральные капсулы  для детоксикации при заражения паразитами.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Нормализует уровень глюкозы в крови. Оказывает седативное действие, считается природным антидепрессантом. Успокаивает, нормализует эмоциональный баланс, возвращает природный график сна и бодрствования. Не повышает артериальное давление, благодаря чему средство могут принимать даже гипертоники. Действует как средство омоложения, замедляет преждевременное старение. Повышает гемоглобин, снижает уровень холестерина, нормализует биохимические процессы в организме. Уничтожает микрофлору патогенную и помогает восстановить полезную. Благодаря этому способна остановить воспаление, регенерировать пострадавшие клетки организма. Стимулирует иммунные силы, делает организм более устойчивым перед бактериальными, грибковыми и вирусными инфекциями.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Концентраты меристем корня ашваганды, коры лиственницы, рейши, семян амаранта, корня Девясила, травы кипрея,  чаги, якорцев, травы ярутки, травы леспедецы, коры берёзы, плодов боярышника, женьшеня, плодов витекса, плодов каштана, листьев гинкго билоба. корзинок артишока, ресвератрол, таурин,селексен, магния оротат.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Рекомендуется принимать по 1-2 капсуле дважды в день за 40 минут до приёма пищи, запивая тёплой водой.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера – Мед
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить в сухом прохладном месте, вдали от прямых солнечных лучей.
