section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Искуситель
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
					.slider-prod__nav-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
					.slider-prod__nav-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
					.slider-prod__for-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
					.slider-prod__for-item
						img(src="img/iskusitel_b_1.png", alt="Искуситель")
			.product-item__info
				h2.product-item__name Искуситель
				p.product-item__desc выносливость / активность / усиление либидо
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Потенция
					li.product-list__item
						span Форм-фактор: 
						| капсулы
					li.product-list__item
						span Объем: 
						| 10 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Растительные капсулы для повышения половой функции у мужчин
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Комплекс растительных компонентов для повышения активности организма, регуляции обмена веществ,  усиления полового влечения, и возбудимости. Препарат помогает регулировать уровень половых гормонов, способствует улучшению притоку крови к половым органам, усиливает ощущения во время полового акта,  улучшает качество семенной жидкости.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Мальтодекстрин, экстракты растительные (корней якорцев, корней эврикомы длиннолистной, корней женьшеня, косточек померанца, коры йохимбе, травы горянки (эпимедиум)), антислеживающий агент кремния диоксид, капсула (желатин, краситель титана диоксид).
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Мужчинам употреблять по 1 капсуле 1-2 раза в день, запивая стаканом воды. 
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| ООО «ИНТЭКС»
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре от 0°С до 25°С , вдали от прямых солнечных лучей и влаги.
