section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main АЛКОПРОСТ
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/alcoprost_b_1.png", alt="АЛКОПРОСТ")
					.slider-prod__nav-item
						img(src="img/alcoprost_b_2.png", alt="АЛКОПРОСТ")
					.slider-prod__nav-item
						img(src="img/alcoprost_b_3.png", alt="АЛКОПРОСТ")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/alcoprost_b_1.png", alt="АЛКОПРОСТ")
					.slider-prod__for-item
						img(src="img/alcoprost_b_2.png", alt="АЛКОПРОСТ")
					.slider-prod__for-item
						img(src="img/alcoprost_b_3.png", alt="АЛКОПРОСТ")
			.product-item__info
				h2.product-item__name АЛКОПРОСТ
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Алкоголизм
					li.product-list__item
						span Форм-фактор: 
						| таблетки
					li.product-list__item
						span Объем: 
						| 20 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Органические капли для помощи в сняти симптомов похмелья и алкогольной зависимости.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капли «Алкопрост» – натуральный природный продукт, разработанный на основе нативных экстрактов растений с добавлением природных компонентов, направленных на устранение алкогольной и психологической зависимости, очищение печени и лимфы от токсинов алкоголя, восстановление сердечно-сосудистой деятельности, предупреждение изменений организма, вызванных систематическим употреблением алкоголя, восстановление психоэмоционального статуса.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Копытень европейский, баранец обыкновенный, копринус, лисичка обыкновенная, тимьян ползучий, полынь горькая, плоды годжи, сагаан-дали, корень любистка, лавр благородный, зверобой продырявленный, мята перечная, дягиль лекарственный, мускус бобра, артемия, корень пиона, синюха, цветки клевера лугового, перегородки грецкого ореха, володушка золотистая, ромашка аптечная, лапчатка белая, сумах, пырей ползучий, падуб морщинистый, куркума, золототысячник.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon По 10 капель 3 раза в день за 30 мин до еды, добавляя в пищу, напитки. Курс – 30 дней. Рекомендуется 4 курса в год.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера-мед
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С
