section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Варилиф
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
					.slider-prod__nav-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
					.slider-prod__nav-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
					.slider-prod__for-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
					.slider-prod__for-item
						img(src="img/varilif_b_1.png", alt="Варилиф")
			.product-item__info
				h2.product-item__name Варилиф
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Варикоз
					li.product-list__item
						span Форм-фактор: 
						| гель
					li.product-list__item
						span Форма выпуска:
						| 50 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Органический гель для тонуса вен и профилактики варикозного расширения.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Варилиф - гель на основе мицел биогенных концентратов плодов каштана, софоры японской, инжира и донника, обогащенный изотоническим концентратом активных структур растений и природных компонентов, направленный  на восстановление биохимического равновесия тонуса венозной стенки, мышечных волокон и нормализацию функции венозной помпы и предотвращению застойных процессов крови в венах и варикозного расширения вен.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Нативные концентраты семян каштана, софоры японской, инжира, донника, зверобоя, семян амаранта, травы руты, травы гречихи горькой, корневищ дискореи, коры лиственницы, плодов черники, плодов боярышника, травы ликоподия, листьев гинкго билобы, цветков клевера, корней лопуха, листьев подорожника, хвоща, аврана, вербены, корня одуванчика, девясила, крапивы, мелиссы.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Наносить на область поражения дважды в сутки (утром и вечером), легкими движениями пальцев втирая до полного впитывания. Курс от  30 дней.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера-мед
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С
