section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Trezistal Pro
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
					.slider-prod__nav-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
					.slider-prod__nav-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
					.slider-prod__for-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
					.slider-prod__for-item
						img(src="img/trezistal-pro_b_1.png", alt="Trezistal Pro")
			.product-item__info
				h2.product-item__name Trezistal Pro
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Алкоголизм
					li.product-list__item
						span Форм-фактор: 
						| таблетки
					li.product-list__item
						span Форма выпуска:
						| 20 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Шипучие таблетки для помощи в сняти симптомов похмелья и алкогольной зависимости.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Препарат направлен на всестороннюю помощь организму оказывает благотворное влияние на нервную, эндокринную и пищеварительную системы, помогает вывести токсины и уменьшить тягу к алкоголю. Благодаря взаимодействию активных компонентов на клеточном уровне оказывает непосредственное влияние на поврежденные волокна пораженных органов. 
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Антислеживающий агент микрокристаллическая целлюлоза, декстроза, регуляторы кислотности: лимонная кислота, натрия гидрокарбонат и натрия карбонат, экстракты растительные (матчи, женьшеня, артишока, кардамона), подсластитель сукралоза.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon По 2 таблетки 1 -2 раза в день. Курс - от 30 дней.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| ООО «ИНТЭКС»
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С
