section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Agro UP
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/agro-up_b_1.png", alt="Agro UP")
					.slider-prod__nav-item
						img(src="img/agro-up_b_1.png", alt="Agro UP")
					//.slider-prod__nav-item
					//	img(src="img/agro-up_b_1.png", alt="Agro UP")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/agro-up_b_1.png", alt="Agro UP")
					.slider-prod__for-item
						img(src="img/agro-up_b_1.png", alt="Agro UP")
					//.slider-prod__for-item
					//	img(src="img/agro-up_b_1.png", alt="Agro UP")
			.product-item__info
				h2.product-item__name Agro UP
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Удобрение
					li.product-list__item
						span Форм-фактор: 
						| концентрат для разведения
					li.product-list__item
						span Форма выпуска:
						| 100 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Органическое удобрение для всех типов растений.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Органическое  средство для удобрения почвы. Концентрат имеет комбинированный состав из азот-продуцирующих бактерий и микроэлементов, который насыщает почву необходимыми веществами, для нормального развития растения. Препарат эффективен на всех этапах созревания. Подходит для выращивания разнообразных растительных культур как в открытом грунте так и в теплицах и даже комнатных.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Экстракт из Биогумуса. 
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Замачивание семян (водный раствор 1:10-1:20) при температуре 20-28C. Корневая подкормка (водный раствор 1:30-1:50); деревья, кустарники - 10-20 л рабочего раствора; садовые и газонные растение - 4-10 л рабочего раствора на 1 м2; частота обработки каждые 6-10 дней. Внекорневая подкормка (водный раствор 1:100-1:200); кустарники,  садовые и газонные растения - 1,5-2 л/10 м2;  деревья - 2-10 л на дерево; частота обработки каждые 6-10 дней.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Виафарм
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| Хранить в сухом темном месте, недоступном для детей и животных, отдельно от продуктов, лекарств и кормов.
