extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Agro UP
block content
	include templates/product/agro-up/agro-up
	include templates/product/product-reviews
	include templates/product/recommendations
