extends templates/layout/layout-prod.pug
block head
	title Vitaliss - АЛКОПРОСТ
block content
	include templates/product/alcoprost/alcoprost
	include templates/product/product-reviews
	include templates/product/recommendations
