extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Artex
block content
	include templates/product/artex/artex
	include templates/product/artex/product-reviews
	include templates/product/recommendations
