extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Ash be Forte
block content
	include templates/product/ash-be-forte/ash-be-forte
	include templates/product/product-reviews
	include templates/product/recommendations
