extends templates/layout/layout-prod.pug
block head
	title Vitaliss - DUO C&P
block content
	include templates/product/duo-c-p/duo-c-p
	include templates/product/duo-c-p/product-reviews
	include templates/product/recommendations
