extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Iskusitel
block content
	include templates/product/iskusitel/iskusitel
	include templates/product/product-reviews
	include templates/product/recommendations
