extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Miaflow
block content
	include templates/product/miaflow
	include templates/product/product-reviews
	include templates/product/recommendations
