extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Agrosev Bio
block content
	include templates/product/agrosev-bio/agrosev-bio
	include templates/product/agrosev-bio/product-reviews
	include templates/product/recommendations
