extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Tenzital
block content
	include templates/product/tenzital/tenzital
	include templates/product/product-reviews
	include templates/product/recommendations
