extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Trezistal Pro
block content
	include templates/product/trezistal-pro/trezistal-pro
	include templates/product/product-reviews
	include templates/product/recommendations
