extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Valgocin
block content
	include templates/product/valgocin/valgocin
	include templates/product/product-reviews
	include templates/product/recommendations
