extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Варилиф
block content
	include templates/product/varilif/varilif
	include templates/product/product-reviews
	include templates/product/recommendations
