extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Visoplex
block content
	include templates/product/visoplex/visoplex
	include templates/product/product-reviews
	include templates/product/recommendations
