extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Ashwamin
block content
	include templates/product/ashwamin/ashwamin
	include templates/product/ashwamin/product-reviews
	include templates/product/recommendations
