section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Визоплекс
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/visolpex_b_1.png", alt="Visolpex")
					.slider-prod__nav-item
						img(src="img/visolpex_b_2.png", alt="Visolpex")
					.slider-prod__nav-item
						img(src="img/visolpex_b_3.png", alt="Visolpex")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/visolpex_b_1.png", alt="Visolpex")
					.slider-prod__for-item
						img(src="img/visolpex_b_2.png", alt="Visolpex")
					.slider-prod__for-item
						img(src="img/visolpex_b_3.png", alt="Visolpex")
			.product-item__info
				h2.product-item__name Визоплекс
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-3.svg", alt="")
					p.product-item__rating-text 205 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Зрение
					li.product-list__item
						span Форм-фактор: 
						| капли
					li.product-list__item
						span Объем: 
						| 1,5мл - 10 шт. в упаковке
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Инновационный комплекс для увлажнения органов зрения с гиалуроновой кислотой.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Изотонические мицеллярные капли на основе нативного комплекса концентратов растений, усиленного природными компонентами, направленными на регуляцию функций и состояния структур зрительного аппарата, источники инфекционного процесса. Изотоническая формула обладает совместимостью  клеточными элементами глазного яблока, оказывает многоплановое действие.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Концентраты плодов черники, плодов оливы, цветков бархатцев, очанки, пепельника, барбариса, коры лиственницы, коры березы, цинка лактат, дигидрокверцетин, концентрат цветков клевера, гинкго билоба, янтарная кислота, витамин С, бета-каротин, таурин, гиалуроновая кислота, лютеин, зеаксантин, перга пчелиная, прополис.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Вскрыть монодозу закапать в каждый глаз по 2-3 капли. Интенсивно поморгать глазами для распределения капель. Рекомендуется применять 2 раза в день. Курс применения - 30 дней. Вскрытую монодозу хранить плотно закрытой, при температуре не выше 18 С не более 2 суток.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера - мед
								li.product-list__item
									span Дата регистрации: 
									| 10.02.2020
								li.product-list__item.mb
									span Декларация о соответствии ЕАС:
									br
									| EAЭС N RU Д-RU.ПХ01.В.03234/20
								li.product-list__item.mb
									span Срок годности: 
									| 2 года.
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре не выше 25 С в местах, удаленных от прямого солнечного света и отопительных приборов.