section.about
	.container
		h2.about__title.title О компании
		img.about__logo(src="img/svg/logo_big.svg", alt="Vitaliss")
		p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis blandit pharetra sapien, facilisis et, aliquam. Lobortis fringilla purus, neque eget cras sociis rhoncus risus, odio. Viverra nec vulputate viverra odio sit quam a sed suspendisse. Phasellus pel