section.about
	.container
		h2.about__title.title О компании
		img.about__logo(src="img/svg/logo_big.svg", alt="Vitaliss")
		.about__desc
			p.about__text Наша миссия -  создавать товары для помощи людям в решении проблем со здоровьем. Это натуральные продукты, безопасность и качество которых проверяются на всех этапах производства* 
				br
				| (*учитывайте индивидуальные особенности организма к конкретным ингредиентам).
			p.about__text Силы природы, научные инновации и знания лучших специалистов позволяют нам достигнуть максимального эффекта и пользы. Производим продукцию на современном оборудовании в соответствии с мировыми стандартами качества.
			p.about__text Мы гордимся тем, что с помощью продукции Vitaliss каждый день тысячи людей укрепляют свое здоровье и меняют жизнь к лучшему!
			p.about__text.about__text--main Мы заботимся о вас! С любовью, Vitaliss.