section.categories
	.container
		h2.categories__title.title Популярные категории
	.container.container--list
		.categories__list
			.category
				.category__front
					img(src="img/category_1.jpg", alt="")
				.category__back
					h4.category__title Красота
					.category__bottom
						p.category__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.category__btn.btn(href="catalog.html?id=beauty") ПОДРОБНЕЕ
			.category
				.category__front
					img(src="img/category_2.jpg", alt="")
				.category__back
					h4.category__title Для&nbsp;женщин
					.category__bottom
						p.category__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.category__btn.btn(href="catalog.html?id=woman") ПОДРОБНЕЕ
			.category
				.category__front
					img(src="img/category_3.jpg", alt="")
				.category__back
					h4.category__title Здоровье и&nbsp;имунитет
					.category__bottom
						p.category__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.category__btn.btn(href="catalog.html?id=health") ПОДРОБНЕЕ
			.category
				.category__front
					img(src="img/category_4.jpg", alt="")
				.category__back
					h4.category__title Для&nbsp;мужчин
					.category__bottom
						p.category__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.category__btn.btn(href="catalog.html?id=man") ПОДРОБНЕЕ