section.faq
	.container
		h2.faq__title.title FAQ
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Сертифицирована ли продукция?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non eaque natus dicta delectus nostrum accusamus soluta dolores temporibus facere.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Какое сырье используется для производства данной продукции?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non eaque natus dicta delectus nostrum accusamus soluta dolores temporibus facere.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Как проверяется эффективность бад и косметики?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non eaque natus dicta delectus nostrum accusamus soluta dolores temporibus facere.