- var FAQ = LANG.home.faq;
section.faq
	.container
		h2.faq__title.title!=FAQ.faq_block_title
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Сертифицирована ли продукция?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Все наши товары изготовляются на сертифицированных производствах. И регулярно проходят проверку по соблюдению требований Управления по санитарному надзору за качеством пищевых продуктов и медикаментов США (FDA) для пищевой промышленности. Действительность сертификата вы можете проверить на сайте FDA указав в запросе название производства или №сертификата указного на упаковке товара
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Как узнать способ применения товара?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Вся информация о способах применения и времени хранения есть на карточках товара, а так же в печатной инструкции, которая находится внутри упаковки.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Какие есть противопоказания для продуктов?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Эфективность товаров данной категории проверяется научными исследованиями свойств ингредиентов и клиническими исследованиями готового продукта.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Какое сырье используется для производства данной продукции?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Для продукции используются только натуральные ингридиенты и экстракты растительного или животного происхождения.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Как проверяется эффективность продукции?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Все пищевые добавки имеют доказательную научную базу и обязательно проходят лабораторные и клинические испытания