header.header
	.container
		.header__slider.js-slider-header
			.header-slide
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title Природные компоненты для&nbsp;долголетия
						.header-slide__right.header-slide__right--mob.header-slide__right--1
							picture
								source(srcset="img/header_photo_1.webp", type="image/webp")
								img.header-slide__img(src="img/header_photo_1.png", alt="")
						p.header-slide__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.header-slide__btn.button.button--red(href="#") ПОДРОБНЕЕ
					.header-slide__right.header-slide__right--desc.header-slide__right--1
						picture
							source(srcset="img/header_photo_1.webp", type="image/webp")
							img.header-slide__img(src="img/header_photo_1.png", alt="")
			.header-slide
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title Природные компоненты для&nbsp;долголетия
						.header-slide__right.header-slide__right--mob.header-slide__right--2
							picture
								source(srcset="img/header_photo_2.webp", type="image/webp")
								img.header-slide__img(src="img/header_photo_2.png", alt="")
						p.header-slide__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.header-slide__btn.button.button--green(href="#") ПОДРОБНЕЕ
					.header-slide__right.header-slide__right--desc.header-slide__right--2
						picture
							source(srcset="img/header_photo_2.webp", type="image/webp")
							img.header-slide__img(src="img/header_photo_2.png", alt="")
			.header-slide
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title Природные компоненты для&nbsp;долголетия
						.header-slide__right.header-slide__right--mob.header-slide__right--3
							picture
								source(srcset="img/header_photo_3.webp", type="image/webp")
								img.header-slide__img(src="img/header_photo_3.png", alt="")
						p.header-slide__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.header-slide__btn.button.button--yellow(href="#") ПОДРОБНЕЕ
					.header-slide__right.header-slide__right--desc.header-slide__right--3
						picture
							source(srcset="img/header_photo_3.webp", type="image/webp")
							img.header-slide__img(src="img/header_photo_3.png", alt="")