section.reviews
	.container
		h2.reviews__title.title Отзывы
		.reviews__info
			p.reviews__count Всего 80
		.reviews__list.js-slider-reviews
			include reviews-list
		a.reviews__btn.btn(href="reviews.html") Смотреть все