section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Valgocin
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/valgocin_s_1.png", alt="miaflow")
					.slider-prod__nav-item
						img(src="img/valgocin_s_2.png", alt="miaflow")
					.slider-prod__nav-item
						img(src="img/valgocin_s_3.png", alt="miaflow")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/valgocin_b_1.png", alt="miaflow")
					.slider-prod__for-item
						img(src="img/valgocin_b_2.png", alt="miaflow")
					.slider-prod__for-item
						img(src="img/valgocin_b_3.png", alt="miaflow")
			.product-item__info
				h2.product-item__name Valgocin
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-3.svg", alt="")
					p.product-item__rating-text 225 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Вальгус
					li.product-list__item
						span Форм-фактор: 
						| сыворотка-крем
					li.product-list__item
						span Объем: 
						| 30 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Сыворотка-крем при вальгусной деформации большого пальца стопы.
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Сыворотка - крем - натуральное средство для наружного применения на основе биогенного концентрата активных структур растений и природных компонентов, усиленные полипептидным и коллагеновыми факторами природного происхождения, оказывающие регулирующее и восстановительное действие на эластичность соединительной ткани, связок и сухожилий суставов пальцев ног, предупреждению дисфункции соединительной ткани и устранению развития патологического смещения плюсневых костей фаланг пальцев при вальгусной деформации стопы.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Нативные концентраты: мордовника, кукуй, амаранта, гинкго, лофанта, концентрат морских моллюсков, полипептидный концентрат пантов алтайского марала, гвоздики, живицы, мелиссы, крапивы, раувольфии, гречихи горькой, подорожника, капусты белокочанной, боярышника, пиона, липы, чеснока, бобровой струи, эспарцета, боярышника, бузины, рейши, чаги, миробалана, масло семян амаранта, плодов облепихи, семян конопли, черного тмина, горчицы,   концентрат бадана, горца, барбариса, черники, земляники, одуванчика, зверобоя, настурции, мумие, красного корня, перца, эмблики лекарственной, кордицепса, биогенного прополиса, папоротника, лиственницы, диоскореи, подмора пчелиного, маточное молочко, каменное масло, масло семян расторопши, масло можжевельника.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Сыворотку-крем нанести на область деформации сустава, шишку, прилегающие зоны, распределить легкими массажными движениями. Рекомендуется применять 2 раза в день. Курс 30 дней. Рекомендуется 4 курса в год.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера - мед
								li.product-list__item
									span Дата регистрации: 
									| 10.04.2020
								li.product-list__item.mb
									span Номер сертификата ЕАС: 
									| ТУ 10.8919-001-16159820-2019
								li.product-list__item.mb
									span Срок годности: 
									| 2 года. 
								li.product-list__item
									span Условия хранения: 
									| После вскрытия хранить 1 год. Хранить при температуре не выше 25С.